html {
  font-size: 16px;
}

  .generated {
    color: #ffffff;
  }

  #input-message {
    color: #000000;
  }

  .bpw-new-messages-indicator{
    background-color: #ffffff;
    color: #000000;
  }
  
  .bpw-header-container {
    margin: 10px 10px 0px 10px;
    background: #D4C8F5;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.bpw-typing-bubble{
  background: #000000;
}

  .bpw-chat-bubble-content {
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px transparent;
  }
  .bpw-header-container {
    border: 1px;
    border-radius: 10px;
  }
  .bpw-date-container,
  .bpw-header-name,
  .bpw-header-subtitle {
    color: #000000;
  }
  
  .bpw-layout {
    width: 360px !important;
    border: 1px;
    height: 61vh;
    border-radius: 10px;
    right: 10%;
    bottom: 3%;
    border: 3px solid white;
  }

  @media screen and (max-device-width: 767px) {
    .bpw-layout {
        width: 100% !important;
        height: 80%;
        right: 0;
        bottom: 0;
        border-radius: 10px 10px 0px 0px;
    }
}


  .bpw-header-icon,
  .bpw-header-icon svg,
  .bpw-header-icon svg path {
    fill: #000000 !important;
  }
  .bpw-header-container {
    color: #D4C8F5;
  }

  #input-message::placeholder {
    color: #000000; 
  }

  .bpw-keyboard-single-choice{
    background-color: #160544;
    border: none;
  }
  .bpw-button, .bpw-button-alt{
    background-color: #e6e6e6;
    color: #000000;
  }
  .bpw-button {
    border-radius: 10px;
    border:none;
  }
  .bpw-button:hover, .bpw-button-alt:hover{
    background-color: #ffffff;
    color: #000000;
  }

  a{
    color: #000000;
    text-decoration: underline;
  }


  .bpw-chat-container {
    background-color: #160544;
  }

  .bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #ffffff;
    color: #000000;
  }

  .bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #D4C8F5;
    color: #000;
  }

  .bpw-composer {
    color: white;
    background-color: #160544;
    border-top: 1px solid #ffffff;
  }

  .bpw-composer textarea {
    /* Sets the background color to a variable named "--white" */ 
    background:white;
    /* Sets the border to a 1-pixel solid line using a variable named "--zinc-200" */
    border: 1px solid var(--zinc-200);
    /* Sets the border radius to a variable named "--spacing-medium" to make the edges rounded */
    border-radius: 30px;
    /* Sets the text color to a variable named "--zinc-900" */
    color: black;
    /* Inherits the font family from the parent element */
    font-family: inherit;
    /* Sets the font size to 12 pixels */
    font-size: 12px;
    /* Sets the height of the textarea to 54 pixels */
    height: 54px;
    /* Sets the padding on the top to 19 pixels, and on the right and left to a variable named "--spacing-large" */
    padding: 19px var(--spacing-large) var(--spacing-large);
    /* Disables the ability to resize the textarea */
    resize: none;
    /* Adds a 0.2-second transition effect to the border when the focus changes */
    transition: border 0.2s;
    /* Sets the width of the textarea to 100% */
    width: 100%;
    /* Sets the margin on the right side to a variable named "--spacing-small" */
    margin-right: var(--spacing-small);
  }

  .bpw-chat-container::-webkit-scrollbar {
    width: 10px;
    background-color: #160544;
  }

  .bpw-chat-container::-webkit-scrollbar-thumb {
    background-color: #160544;
  }

  .bpw-bot-avatar img,
  .bpw-bot-avatar svg {
    background: #000000;
    background-size: cover;
    border: 3px solid #000000;
  }

  ::-webkit-scrollbar{
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track{
    background-color:transparent;
  }

  ::-webkit-scrollbar-thumb{
    background-color:#160544;
    border-radius:1rem;
    border: 0.5rem solid transparent;

  }

  .bpw-floating-button i svg path {
    fill: #ffffff;
}

.bpw-floating-button {
    background: black;
    border-radius: 52px;
}


  .bpw-chat-container {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #160544;
    border: none;
  }

  .bpw-chat-container::-moz-scrollbar {
    width: 10px;
    border:none;
  }

  .bpw-chat-container::-moz-scrollbar-track {
    background-color:transparent;
    border:none;
  }

  .bpw-chat-container::-moz-scrollbar-thumb {
    background-color:#160544;
    border:none;
  }

  .bpw-powered {
    text-align: center;
    padding: 10px;
    color: #000000;
    background:  #160544;
    font-size: 16px;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .bpw-powered a {
    color: #000000;
    text-decoration: none;
  }

  .bpw-powered a:hover {
    text-decoration: underline;
  }

  .bpw-send-button:disabled,
  .bpw-send-button:disabled:hover {
    opacity: 0.4;
    background-color: #D4C8F5;
    cursor: default;
  }

  .bpw-send-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .bpw-send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color:#D4C8F5 ; 
    padding: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url('/paper-plane.svg') !important;
    background-position: center !important;
    transition: background-color 0.2s;
  }

  .bpw-send-button:not(:disabled):hover {
    background-color: #D4C8F5;
  }

  